/* Revert mentions and channel links */
#app-mount .wrapper-3WhCwL {
  color: var(--brand-experiment-460);
  background: var(--brand-experiment-10a);

  text-decoration: none !important;
}

#app-mount .wrapper-3WhCwL:hover {
  background: var(--brand-experiment);
  color: var(--brand-experiment-100);
}

/* Hide semi-transparent background if mentioned in message */
/* .mentioned-xhSam7 .mention {
  background: transparent !important;
} */