/* Revert mentions and channel links */
.wrapper-3WhCwL {
  color: var(--brand-experiment-530) !important;
  background: var(--brand-experiment-10a) !important;
}

.wrapper-3WhCwL:hover {
  background: var(--brand-experiment-25a) !important;
}

/* Hide semi-transparent background if mentioned in message */
.mentioned-xhSam7 .mention {
  background: transparent !important
}