#app-mount .mention { // oh my god i didn't even think about ids having a heigher specificity
  color: var(--brand-experiment-460);
  background-color: var(--brand-experiment-10a);

  &:hover {
    background-color: var(--brand-experiment);
    color: var(--brand-experiment-100);
  }

  &.roleMention-2Bj0ju:not([color], [style]):hover { // (https://github.com/Goose-Nest/GT-RevertRebrand/issues/21 issue 6)
    color: var(--brand-experiment-460);
    background-color: var(--brand-experiment-25a);
  }
}

//? what's this all about
/* Hide semi-transparent background if mentioned in message */
/* .mentioned-xhSam7 .mention {
  background: transparent !important;
} */
