/* Revert mentions and channel links */
#app-mount .roleMention-11Aaqi {
  color: var(--brand-experiment-460);
  background: var(--brand-experiment-10a);

  text-decoration: none !important;
  padding: 0 1px;
}

#app-mount .roleMention-11Aaqi:hover {
  background: var(--brand-experiment);
  color: var(--brand-experiment-100);
}

/* Hide semi-transparent background if mentioned in message */
.mentioned-xhSam7 .mention {
  background: transparent !important;
}

/* Readd left padding for icons in mentions as our own padding removes it and breaks look */
#app-mount .mention.iconMentionText-8GCluA {
  padding-left: 1.2rem;
}

#app-mount .mention.iconMention-1_KJ_B {
  padding-left: 1.3rem;
}
