.profileBanner-33-uE1 {
  background: none;
}

.avatarWrapperNormal-2tu8Ts {
  left: 35%;
}

.headerTop-2y3V6H > .profileBadges-1dm1_q {
  display: none;
}

.headerText-2WJ44e {
  text-align: center;
}