/* Profile pictures */
[src="/assets/1f0bfc0865d324c2587920a7d80c609b.png"] {
  content: url(https://discord.com/assets/6debd47ed13483642cf09e832ed0bc1b.png);
}
[src="/assets/c09a43a372ba81e3018c3151d4ed4773.png"] {
  content: url(https://discord.com/assets/322c936a8c8be1b803cd94861bdfa868.png);
}
[src="/assets/7c8f476123d28d103efe381543274c25.png"] {
  content: url(https://discord.com/assets/dd4dbc0016779df1378e7812eabaa04d.png);
}
[src="/assets/6f26ddd1bf59740c536d2274bb834a05.png"] {
  content: url(https://discord.com/assets/0e291f67c9274a1abdddeb3fd919cbaa.png);
}
[src="/assets/3c6ccb83716d1e4fb91d3082f6b21d77.png"] {
  content: url(https://discord.com/assets/1cbd08c76f8af6dddce02c5138971129.png);
}
