/* Revert reactions */
.reaction-2A2y9y {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}

.mentioned-xhSam7 .reaction-2A2y9y,
.mentioned-xhSam7 .reaction-2A2y9y:hover {
    background-color:var(--background-modifier-accent);
}

.reaction-2A2y9y .reactionCount-1zkLcN {
  color: var(--text-muted); /* A11Y-- */
}

.reaction-2A2y9y .reactionInner-9eVHJa {
  padding: 0 .375rem;
}

/* Self reactions */
.reaction-2A2y9y.reactionMe-wv5HKu .reactionCount-1zkLcN {
  color: var(--brand-experiment); /* A11Y-- */
}

.mentioned-xhSam7 .reaction-2A2y9y.reactionMe-wv5HKu,
.mentioned-xhSam7 .reactionMe-wv5HKu.reaction-2A2y9y:hover,
.reaction-2A2y9y.reactionMe-wv5HKu {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
.reaction-2A2y9y:hover .reactionCount-1zkLcN {
  color: var(--interactive-active) !important;
}

.reaction-2A2y9y:hover {
  background-color: var(--background-modifier-selected);
}

.reaction-2A2y9y.reactionMe-wv5HKu:hover {
  background-color: var(--brand-experiment-40a);
}
