/* Revert reactions */
.reaction-3vwAF2 {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}

.mentioned-Tre-dv .reaction-3vwAF2,
.mentioned-Tre-dv .reaction-3vwAF2:hover {
    background-color:var(--background-modifier-accent);
}

.reaction-3vwAF2 .reactionCount-26U4As {
  color: var(--text-muted); /* A11Y-- */
}

.reaction-3vwAF2 .reactionInner-YJjOtT {
  padding: 0 .375rem;
}

/* Self reactions */
.reaction-3vwAF2.reactionMe-1PwQAc .reactionCount-26U4As {
  color: var(--brand-experiment); /* A11Y-- */
}

.mentioned-Tre-dv .reaction-3vwAF2.reactionMe-1PwQAc,
.mentioned-Tre-dv .reactionMe-1PwQAc.reaction-3vwAF2:hover,
.reaction-3vwAF2.reactionMe-1PwQAc {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
.reaction-3vwAF2:hover .reactionCount-26U4As {
  color: var(--interactive-active) !important;
}

.reaction-3vwAF2:hover {
  background-color: var(--background-modifier-selected);
}

.reaction-3vwAF2.reactionMe-1PwQAc:hover {
  background-color: var(--brand-experiment-40a);
}
