/* Color BD specific settings elements */
#bd-pub-button, .bd-addon-views .bd-view-button.selected, .bd-button {
  background-color: var(--brand-experiment);
}
.bd-button:hover {
  background-color: var(--brand-experiment-560);
}
.bd-button:active {
  background-color: var(--brand-experiment-600);
}
