/* Restyle the create server and discovery buttons to the old green */
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ {
  color: var(--old-green);
}
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ.selected-1JjBPm {
  color: white;
  background-color: var(--old-green);
}

/* On switches to old green */
.container-3auIfb[style="opacity: 1; background-color: rgb(59, 165, 92);"] {
  background-color: var(--old-green) !important;
}

/* Text input focus border color is now focus / link, change back to original brand color */
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--brand-experiment);
}

/* Restyle the create server and discovery buttons to the old green */
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ {
  color: var(--old-green);
}
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ.selected-1JjBPm {
  color: white;
  background-color: var(--old-green);
}

/* On switches to old green */
.container-3auIfb[style="opacity: 1; background-color: rgb(59, 165, 92);"] {
  background-color: var(--old-green) !important;
}

/* Text input focus border color is now focus / link, change back to original brand color */
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--brand-experiment);
}

/* Change all radio bars with the new green to the old green */
/* In particular, this fixes the privacy and safety settings' 'keep me safe' option */
.radioBar-bMNUI-[style*="--radio-bar-accent-color:#3ba55c"] {
  --radio-bar-accent-color: var(--old-green) !important;
}

/* Revert ping mention button being link colored (used to be brand) */
.colorLink-2vG20E.size14-e6ZScH.mentionButton-3710-W {
  color: var(--brand-experiment) !important;
}

/* Change the 'get nitro' button in the emoji popup back to the old green */
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--old-green);
}

/* Revert the 'Add Friend' button to the old green*/
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[style*="background-color: rgb(59, 165, 92);"] {
  background-color: var(--old-green) !important;
}

/* Fixed "Add Friend" button to correct colors when selected */
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[aria-selected="true"] {
  color: var(--old-green) !important;
  background-color: var(--old-green-transparent) !important;
}

/* Color picker default to blurple instead of new brand color */
.colorPickerSwatch-5GX3Ve.default-cS_caM {
  background-color: var(--brand-experiment) !important;
}

/* Revert all other green elements to the old green */
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .header-4zuFdR .horizontal-1ae9ci .colorGreen-29iAKY {
  background: #43b581;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .header-4zuFdR .horizontal-1ae9ci .colorGreen-29iAKY:hover {
  background: #66c69a;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .header-4zuFdR .horizontal-1ae9ci .colorGreen-29iAKY:active {
  background: #3ca374;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY {
  background: #43b581;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY:hover {
  background: #66c69a;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY:active {
  background: #3ca374;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY[disabled] {
  border: solid 1px currentColor;
  background: none;
  color: #43b581;
  opacity: 1;
  cursor: default;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY[disabled]:hover {
  color: #369167;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:not(:hover):not(:active) {
  border-color: #43b5814d;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  color: var(#43B581);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: #43b581;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background-color: #3ca374;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
  background-color: #369167;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:disabled {
  background-color: #43b581;
}
