/* Restyle the create server and discovery buttons to the old green */
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ {
  color: var(--old-green);
}
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ.selected-1JjBPm {
  color: white;
  background-color: var(--old-green);
}

/* On switches to old green */
.container-3auIfb[style="opacity: 1; background-color: rgb(59, 165, 92);"] {
  background-color: var(--old-green) !important;
}

/* Text input focus border color is now focus / link, change back to original brand color */
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--brand-experiment);
}

/* Restyle the create server and discovery buttons to the old green */
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ {
  color: var(--old-green);
}
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ.selected-1JjBPm {
  color: white;
  background-color: var(--old-green);
}

/* On switches to old green */
.container-3auIfb[style="opacity: 1; background-color: rgb(59, 165, 92);"] {
  background-color: var(--old-green) !important;
}

/* Text input focus border color is now focus / link, change back to original brand color */
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--brand-experiment);
}

/* Change all radio bars with the new green to the old green */
/* In particular, this fixes the privacy and safety settings' 'keep me safe' option */
.radioBar-bMNUI-[style*="--radio-bar-accent-color:#3ba55c"] {
  --radio-bar-accent-color: var(--old-green) !important;
}

/* Revert ping mention button being link colored (used to be brand) */
.colorLink-2vG20E.size14-e6ZScH.mentionButton-3710-W {
  color: var(--brand-experiment) !important;
}

/* Change the 'get nitro' button in the emoji popup back to the old green */
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--old-green);
}

/* Revert the 'Add Friend' button to the old green*/
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[style*="background-color: rgb(59, 165, 92);"] {
  background-color: var(--old-green) !important;
}

/* Fixed "Add Friend" button to correct colors when selected */
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[aria-selected="true"] {
  color: var(--old-green) !important;
  background-color: var(--old-green-transparent) !important;
}

/* Color picker default to blurple instead of new brand color */
.colorPickerSwatch-5GX3Ve.default-cS_caM {
  background-color: var(--brand-experiment) !important;
}

/* Fixes some inputs that didn't have the green rebrand applied [Green Revert] */
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .header-4zuFdR .horizontal-1ae9ci .colorGreen-29iAKY, .root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY, [style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"], .circleIconButton-1XqULR.selected-2jcQaY {
  background: var(--old-green) !important;
}
[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"], .circleIconButton-1XqULR {
  fill: var(--old-green) !important;
  color: var(--old-green);
}

/* When those input are hovered [Green Revert] */
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .header-4zuFdR .horizontal-1ae9ci .colorGreen-29iAKY:hover, .root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY:hover {
  background: var(--old-green-hover2) !important;
}
	
/* When those input are clicked [Green Revert] */
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .header-4zuFdR .horizontal-1ae9ci .colorGreen-29iAKY:active, .root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY:active {
  background: var(--old-green-hover1) !important;
}

/* I'm not entirely sure what these do, though they do seem to be for the same element [Green Revert] */
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY[disabled] {
  border: solid 1px currentColor;
  background: none;
  color: var(--old-green);
  opacity: 1;
  cursor: default;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .relationshipButtons-pUQVkf .actionButton-3vN-m0.colorGreen-29iAKY[disabled]:hover {
  color: var(--old-green-hover0);
}

/* I'm assuming this fixs the outline for an element specifically doesn't have a hover or click reaction attached to it [Green Revert] */
.lookOutlined-3sRXeN.colorGreen-29iAKY:not(:hover):not(:active) {
  border-color: var(--old-green)4d;
}

/* Everything under here is for any elements that are meant to be inputs / have the "colorGreen" class, including clicking (:active) and hovering (:hover) [Green Revert] */	
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  color: var(--old-green);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--old-green);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background-color: var(--old-green-hover1);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
  background-color: var(--old-green-hover0);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:disabled {
  background-color: var(--old-green);
}
