//? this "category(this file/file name)" is confusing me a bit

// Active switches
.container-3auIfb { // this is horrible, but it works (https://github.com/Goose-Nest/GT-RevertRebrand/issues/21 issues 8 and 9)
  &[style*="opacity: 1; background-color: rgb(7"] {
    background-color: var(--old-green-530) !important;
  }
  &[style*="opacity: 1; background-color: rgb(6"] {
    background-color: var(--old-green-500) !important;
  }
  &[style*="opacity: 1; background-color: rgb(5"] {
    background-color: var(--old-green) !important;
  }
}

// Discover & Create new server buttons
.circleIconButton-1QV--U {
  color: var(--old-green);
  &.selected-1JjBPm {
    color: white;
    background-color: var(--old-green);
  }
}

// User popout
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--brand-experiment);
}

// "Keep me safe" option in the "Privacy & Safety" tab in user settings
[style="--radio-bar-accent-color:#3ba55c; padding: 10px;"] { // This is horrible but for some reason I feel like it's better
  --radio-bar-accent-color: var(--old-green) !important;
}

// Mention switch when replying to a message
.colorLink-2vG20E.size14-e6ZScH.mentionButton-3710-W {
  color: var(--brand-experiment) !important;
}

// Green-colored buttons
.lookFilled-1Gx00P.colorGreen-29iAKY,
.colorable-1bkp8v.green-plH-Mj {
  background-color: var(--old-green);
  &.active-1QRrIS, &:hover { // For some reason this fixes "X Unavailable""
    background-color: var(--old-green); // * Pretty sure the hover of this also needs to be changed to something else
  }
  &:disabled {
    background-color: var(--old-green-530);
    &:hover {
      background-color: var(--old-green-500);
    }
  }
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  border-color: var(--old-green);
  color: var(--old-green);
}

/**
 * ? "Revert the 'Add Friend' button to the old green"
 * * where is that lol
**/
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[style*="background-color: rgb(59, 165, 92);"] {
  background-color: var(--old-green) !important;
}
