/* Fix misc SVGs that for some reason sometimes weren't targeted by the previous rules (particularly presence SVGs) */
*[fill="#3ba55c"] {
  fill: var(--old-green);
}

/* Fix the call icons in chat */
.icon-JRJzJz.iconSize-Ai8Wtu[style='background-image: url("/assets/7f75ab26bc5deb393cd8db44d9fe14e7.svg");'] {
  background-image: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/call_icon.svg") !important;
}

/* Server join icon to old green (arrow left to join system message) */
.icon-JRJzJz.iconSize-Ai8Wtu[style='background-image: url("/assets/d1382af8d9e755bc44811b1fd92990a8.svg");'] {
  background-image: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/server_join_icon.svg") !important;
}

/* Change the lock icon in the settings, it's an img tag so we need to use the content: css attribute instead of background-image */
[src="/assets/acea8fd38500a12d0509c027a274caaa.svg"] {
  content: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/mfa_lock_icon.svg") !important;
}

/* Permission checkmarks in authorized apps to the old green */
/* The images in these are specified by class, so it's impossible to get more specific of a match than this */
.permissionCheckmark-ji-OoY {
  background: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/authorized_apps_checkmark_icon.svg") no-repeat;
}

/* Revert the 'An adventure begins' popup to the old green */
[src="/assets/3fba9b3d08682f3ce0344e289fe668cb.svg"] {
  content: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/add_friends_to_server.svg") no-repeat center 20px;
}

/* Change the report submitted logo back to old one */
[src="/assets/c8d8bfacc6311892e73219a74e9cd164.svg"] {
  content: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/report_submitted.png");
}
