body {
  /* Revert new green to old color */
  --old-green: #43b581;
  --info-positive-foreground: var(--old-green);
  --status-positive-background: var(--old-green);
  --text-positive: var(--old-green);

  /* Revert new red to old color */
  --old-red: #f04747;
  --text-danger: var(--old-red);
  --info-danger-foreground: var(--old-red);
  --status-danger-background: var(--old-red);

  /* Revert to old font var */
  --font-display: var(--font-primary);

  /* Found in Discord's CSS file: oldBrand vs newBrand HTML class - here we force old brand vars via copying */
  --brand-experiment-100: #f8f9fd;
  --brand-experiment-130: #f2f4fc;
  --brand-experiment-160: #ebeefa;
  --brand-experiment-200: #e3e7f8;
  --brand-experiment-230: #dae0f5;
  --brand-experiment-260: #d1d9f3;
  --brand-experiment-300: #c7d0f0;
  --brand-experiment-330: #b5c1ec;
  --brand-experiment-360: #a5b3e7;
  --brand-experiment-400: #8ea1e1;
  --brand-experiment-430: #869adf;
  --brand-experiment-460: #7d92dd;

  --brand-experiment: #7289da;

  --brand-experiment-500: #7289da;
  --brand-experiment-530: #687dc6;
  --brand-experiment-560: #5c6fb1;
  --brand-experiment-600: #4e5d94;
  --brand-experiment-630: #435180;
  --brand-experiment-660: #3b4770;
  --brand-experiment-700: #2e3757;
  --brand-experiment-730: #2b3352;
  --brand-experiment-760: #272f4b;
  --brand-experiment-800: #222941;
  --brand-experiment-830: #1a2032;
  --brand-experiment-860: #111521;
  --brand-experiment-900: #06070b;

  --brand-experiment-05a: rgba(114,137,218,0.05);
  --brand-experiment-10a: rgba(114,137,218,0.1);
  --brand-experiment-15a: rgba(114,137,218,0.15);
  --brand-experiment-20a: rgba(114,137,218,0.2);
  --brand-experiment-25a: rgba(114,137,218,0.25);
  --brand-experiment-30a: rgba(114,137,218,0.3);
  --brand-experiment-35a: rgba(114,137,218,0.35);
  --brand-experiment-40a: rgba(114,137,218,0.4);
  --brand-experiment-45a: rgba(114,137,218,0.45);
  --brand-experiment-50a: rgba(114,137,218,0.5);
  --brand-experiment-55a: rgba(114,137,218,0.55);
  --brand-experiment-60a: rgba(114,137,218,0.6);
  --brand-experiment-65a: rgba(114,137,218,0.65);
  --brand-experiment-70a: rgba(114,137,218,0.7);
  --brand-experiment-75a: rgba(114,137,218,0.75);
  --brand-experiment-80a: rgba(114,137,218,0.8);
  --brand-experiment-85a: rgba(114,137,218,0.85);
  --brand-experiment-90a: rgba(114,137,218,0.9);
  --brand-experiment-95a: rgba(114,137,218,0.95);
}

/* Revert mentions */
.wrapper-3WhCwL {
  color: var(--brand-experiment-530) !important;
  background: var(--brand-experiment-10a) !important;
}

.wrapper-3WhCwL:hover {
  background: var(--brand-experiment-25a) !important;
}

/* Revert reactions */
.reaction-1hd86g {
  border-radius: .25rem;
  background: var(--background-accent);

  border-color: transparent !important;
}

.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
  color: var(--brand-experiment);
}

/* Set proper reaction background color */
.reaction-1hd86g.reactionMe-wv5HKu {
  background-color: var(--brand-experiment-30a);
}

.reaction-1hd86g:hover {
  background: var(--brand-experiment-50a) !important;
}

/* Revert loading tip title color */
.tipTitle-GL9qAt {
  color: var(--brand-experiment) !important;
}

/* Revert home icon */
.homeIcon-FuNwkv > path {
  d: path("M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z");
}

/* Revert ping mention button being link colored (used to be brand) */
.colorLink-2vG20E.size14-e6ZScH.mentionButton-3710-W {
  color: var(--brand-experiment) !important;
}

/* Revert specific elements with old colors */

/* Online status */
.wrapper-3t9DeA rect.pointerEvents-2zdfdO[mask="url(#svg-mask-status-online)"]{
  fill: var(--old-green);
}

.wrapper-3t9DeA rect.pointerEvents-2zdfdO[mask="url(#svg-mask-status-online-mobile)"]{
  fill: var(--old-green);
}

.avatarWrapper-2yR4wp div > svg > rect {
  fill: var(--old-green);
  mask: url(#svg-mask-status-online);
}

/* Filled green buttons */
.button-38aScr.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--old-green);
}

/* Filled red buttons */
.button-38aScr.lookFilled-1Gx00P.colorRed-1TFJan {
  background-color: var(--old-red);
}

/* Text input focus border color is now focus / link, change back to original brand color */
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--brand-experiment);
}